<template>
  <div class="{{name}}-container">

  </div>
</template>

<script>
module.exports = {
  name: {{ name }},
  data: () => ({}),
  watch: {},
  computed: {},
  methods: {},
  mounted: {},
}
</script>

<style lang="scss" scoped>
  .{{name}}-container {

  }
</style>
