<template>
  <div class="{{ dashCase name }}-container">

  </div>
</template>

<script>
module.exports = {
  name: '{{ properCase name }}',
  data: () => ({}),
  watch: {},
  computed: {},
  methods: {},
  mounted: {},
}
</script>

<style lang="scss" scoped>
  .{{ dashCase name }}-container {

  }
</style>
