<template>
  <div class="{{ dashCase name }}-container">

  </div>
</template>

<script>
export default {
  name: '{{ properCase name }}',

  data: () => ({}),

  computed: {},

  watch: {},

  methods: {},

  mounted: {},
}
</script>

<style lang="scss" scoped>
  .{{ dashCase name }}-container {

  }
</style>
