<template>
  <div class="{{ dashCase name }}-page-container">

  </div>
</template>

<script>
export default {
  name: '{{ properCase name }}Page',

  data: () => ({}),

  computed: {},

  watch: {},

  methods: {},

  mounted: {},
}
</script>

<style lang="scss" scoped>
  .{{ dashCase name }}-page-container {

  }
</style>
